.boton-palabra{
    float: left;
    margin-left: 10%;
    margin-bottom: 50px;
    width: 22%;
    height: 60px;
    font-size: 24px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid gold;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.boton-palabra:hover{
    background-color: gold;
}

#texto-boton-encima{
    margin-bottom: 50px;
}


#boton-palabra-1:hover span{
    display: none;
}

#boton-palabra-1:hover:before{
    content: "Sacapuntas";
}

#boton-palabra-2:hover span{
    display: none;
}

#boton-palabra-2:hover:before{
    content: "Formulario";
}

#boton-palabra-3:hover span{
    display: none;
}

#boton-palabra-3:hover:before{
    content: "Vacuna";
}

#boton-palabra-4:hover span{
    display: none;
}

#boton-palabra-4:hover:before{
    content: "Vecindario";
}

#boton-palabra-5:hover span{
    display: none;
}

#boton-palabra-5:hover:before{
    content: "Materia";
}

#boton-palabra-6:hover span{
    display: none;
}

#boton-palabra-6:hover:before{
    content: "Inyecciones";
}

#boton-palabra-7:hover span{
    display: none;
}

#boton-palabra-7:hover:before{
    content: "Recibo de teléfono";
}

#boton-palabra-8:hover span{
    display: none;
}

#boton-palabra-8:hover:before{
    content: "Amigo";
}

#boton-palabra-9:hover span{
    display: none;
}

#boton-palabra-9:hover:before{
    content: "Tengo un problema";
}

#boton-palabra-10:hover span{
    display: none;
}

#boton-palabra-10:hover:before{
    content: "Tengo una pregunta";
}

#boton-palabra-11:hover span{
    display: none;
}

#boton-palabra-11:hover:before{
    content: "Hacer una fila";
}

#boton-palabra-12:hover span{
    display: none;
}

#boton-palabra-12:hover:before{
    content: "De nada";
}

#boton-palabra-13:hover span{
    display: none;
}

#boton-palabra-13:hover:before{
    content: "Gracias";
}

#boton-palabra-14:hover span{
    display: none;
}

#boton-palabra-14:hover:before{
    content: "Ciencias sociales";
}

#boton-palabra-15:hover span{
    display: none;
}

#boton-palabra-15:hover:before{
    content: "Shots";
}

#boton-palabra-16:hover span{
    display: none;
}

#boton-palabra-16:hover:before{
    content: "I have a question";
}

#boton-palabra-17:hover span{
    display: none;
}

#boton-palabra-17:hover:before{
    content: "Friend";
}

#boton-palabra-18:hover span{
    display: none;
}

#boton-palabra-18:hover:before{
    content: "Line up";
}

#boton-palabra-19:hover span{
    display: none;
}

#boton-palabra-19:hover:before{
    content: "You're welcome";
}

#boton-palabra-20:hover span{
    display: none;
}

#boton-palabra-20:hover:before{
    content: "Neighborhood";
}

#boton-palabra-21:hover span{
    display: none;
}

#boton-palabra-21:hover:before{
    content: "Subject";
}

#boton-palabra-22:hover span{
    display: none;
}

#boton-palabra-22:hover:before{
    content: "Pencil sharpener";
}
#boton-palabra-23:hover span{
    display: none;
}

#boton-palabra-23:hover:before{
    content: "Form";
}
#boton-palabra-24:hover span{
    display: none;
}

#boton-palabra-24:hover:before{
    content: "Immunization";
}
#boton-palabra-25:hover span{
    display: none;
}

#boton-palabra-25:hover:before{
    content: "I have a problem";
}
#boton-palabra-26:hover span{
    display: none;
}

#boton-palabra-26:hover:before{
    content: "Telephone bill";
}
#boton-palabra-27:hover span{
    display: none;
}

#boton-palabra-27:hover:before{
    content: "Social studies";
}
#boton-palabra-28:hover span{
    display: none;
}

#boton-palabra-28:hover:before{
    content: "Thank you";
}
