label{
    color: black;
}

.dialogue-radio-button{
    vertical-align: middle;
    height: 25px;
}

.dialogue-line{
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dialogue-answer{
    vertical-align: text-top;
    margin-left: 4px;
    margin-right: 50px;

}
.dialogue-answers{
    width: 475px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 25px;
}