.boton-palabra{
    float: left;
    margin-left: 10%;
    margin-bottom: 50px;
    width: 40%;
    height: 60px;
    font-size: 1.2vw;
    border-radius: 15px;
    background-color: white;
    border: 3px solid gold;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.boton-palabra:hover{
    background-color: gold;
}

#texto-boton-encima{
    margin-bottom: 50px;
}


#boton-palabra-1:hover span{
    display: none;
}

#boton-palabra-1:hover:before{
    content: "It's ten-thirty";
    font-size: 1.2vw;
}

#boton-palabra-2:hover span{
    display: none;
}

#boton-palabra-2:hover:before{
    content: "It's fifteen past three";
    font-size: 1.2vw;
}

#boton-palabra-3:hover span{
    display: none;
}

#boton-palabra-3:hover:before{
    content: "It's a quarter to nine / It's eight forty-five";
    font-size: 1.2vw;
}

#boton-palabra-4:hover span{
    display: none;
}

#boton-palabra-4:hover:before{
    content: "It's eleven o' clock";
    font-size: 1.2vw;
}

#boton-palabra-5:hover span{
    display: none;
}

#boton-palabra-5:hover:before{
    content: "It's six and a half / It's six thirty";
    font-size: 1.2vw;
}

#boton-palabra-6:hover span{
    display: none;
}

#boton-palabra-6:hover:before{
    content: "It's ten to three / It's two fifty";
    font-size: 1.2vw;
}

#boton-palabra-7:hover span{
    display: none;
}

#boton-palabra-7:hover:before{
    content: "It's twelve o' clock";
    font-size: 1.2vw;
}

#boton-palabra-8:hover span{
    display: none;
}

#boton-palabra-8:hover:before{
    content: "It's ten past five / It's five ten";
    font-size: 1.2vw;
}

#boton-palabra-9:hover span{
    display: none;
}

#boton-palabra-9:hover:before{
    content: "It's one-thirty / It's one and a half";
    font-size: 1.2vw;
}

#boton-palabra-10:hover span{
    display: none;
}

#boton-palabra-10:hover:before{
    content: "It's a quarter past four / It's four fifteen";
    font-size: 1.2vw;
}